* {
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  box-sizing: border-box;
}

.faded-nav {
  position: fixed;
  width: 100%;
  height: 10%;
  background: linear-gradient(90deg, transparent, black);
  z-index: 998;
}


.dropdown-menu {
  margin-top: 0%;
  margin-left: 1.8%;
  background-color: #Db00B6;
  background-image: url(images/nav-tab-background.png);
  background-size: cover;
  border-style: outset;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-right-color: #E500A4;
  border-bottom-color: #D100D1;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 5px;
  width: 10%;
  color: white;
  text-align: center;
  padding: 1%;
  position: fixed;
  z-index: 999;
  width: 12.3%;
}

.dropdown-menu:hover {
  transform: scale(1.05);
}

.flex-container {
  padding-top: 10%;
  display: flex;
  flex-wrap: column;
  width: 15%;
  height: 100%;
  background-color: rgba(209, 0, 255, 0.6);
  position: fixed;
  margin-left: 0%;
  z-index: 997;
  justify-content:center;
  background-image: url(images/nav-overlay.png);
  background-repeat: no-repeat;
  background-size: 140% 80%;
}

.nav-tab {
  width: 100%;
  height: 15%;
  background-color: #Db00B6;
  background-image: url(images/nav-tab-background.png);
  transform: skew(-15deg) rotate(-15deg);
  border-style: outset;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-right-color: #E500A4;
  border-bottom-color: #D100D1;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 5px;
  color: white;
  text-align: center;
  background-size: cover;

}

.nav-tab:hover {
  transform: scaleX(-100px);
  transform: scaleY(-100px);
  transition-duration: 2s;
  transform: skew(-15deg) rotate(-15deg);
}

.nav-contact {
  height: 100%;
  width: 100%;
}

.contact-details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  margin-left: 1.5%;
  margin-top: 12%;
}

.social-media {
  height: 10%;
  width: 100%;
}

.instagram-social {
  background-image: url(instagram-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img-div {
  background-color: grey;
  width: 100%;
  height: 100%;
  padding: 10 10 10 10;
}

.catchphrase {
  background-image: url(images/home-page-bckgd.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.catchphrase div {
  margin-left: 60%;
  color: white;
  transform: skew(-15deg)
}

.header-banner-ad {
  padding:20px;
  text-align:center;
  color: white;
  font-size: 30px;
  transform: skew(-15deg);
  margin: 2% 5%;
  background-image: url(images/free_trial_image.gif);
  background-size: cover;
  background-position: center;
  height: 80px;

}

.sales-section {
  background: radial-gradient(#595959, #303030);
  padding-top: 1%;
  padding-bottom: 2%;

}

.sales-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 200%;
  margin: 0 auto;
  margin-top: 5%;
}

.sales-1, .sales-2, .sales-3 {
  clip-path: polygon(0% 0%, 95% 0%, 100% 5%, 100% 100%, 5% 100%, 0 95%);
  height: 500px;
  width: 300px;
  background-color: darkgrey;
  padding-bottom: 5%;
  background: linear-gradient(45deg,#0d0232 0%,#5f0090 50%,#1467ab 100%);
  box-shadow: 5px 10px #888888;
  position: relative;
  box-shadow: 20px 25px 50px -25px #000;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 25px;
}

.sales-1:hover, .sales-2:hover, .sales-3:hover {
  margin-top: -2%;
}

.sales-1, .sales-3 {
  background: linear-gradient(45deg,#0d0232 0%,#5f0090 50%,#1467ab 100%);
}

.sales-2 {
  background: linear-gradient(45deg,#ff124f 0%,#ff00a0 50%,#fe75fe 100%);
}


.sales-image {
  width: 100%;
  filter: drop-shadow(0 0 30px #333);
}

.sales-content {
  background-color: transparent;
  border: 2px solid #97DFFC;
  margin-top: 00%;
  width: 80%;
  margin: auto;
  padding: 2%;
}

.sales-header {
  margin-top: 0%;
  font-size: 25px;
  text-align: center;
  font-style: italic;
}

.sales-paragraph {
  font-size: 10px;
  margin: 5%;
  text-align: center;
  color: black;
}

.sales-button {
  background-size: 200% 200%;
  background-repeat: no-repeat;
}

.who-are-we-section {
  padding: 80px 0 100px;
  position: relative;
}

.who-are-we-container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.who-are-we-header {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(to top, rgba(247, 37, 133,0) 0%, rgba(247, 37, 133) 50%, rgba(247, 37, 133,0) 100%);
  padding: 10px 0;
}

.who-are-we-row {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;

}

.who-are-we-column {
  width: 50%;
  padding-right: 15px;
  padding-left: 100px;
}

.who-are-we-image {
  position: relative;
  width: 300px;

}

.who-are-we-para {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.stats-row {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  padding: 80px 40px 20px 40px;

}

.stats-column {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.stats-box {
  text-align: center;
  width: 33.335;
}

.stats-number {
  font-size: 25px;
  font-weight: 600;
}

.stats-text {
  font-size: 15px;
}

.middle-image-break {
  margin-top: 20px;
  background-image: url(images/man-with-vr-1.jpg);
  height: 30vh;
  margin-right: 10px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.middle-ad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
}

.middle-ad h1 {
  text-align: center;
}



.middle-ad-text-left {
  /*
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #3A0CA3,
    0 0 82px #3A0CA3,
    0 0 92px #3A0CA3,
    0 0 102px #3A0CA3,
    0 0 151px #3A0CA3;
  */
  font-size: 30px;
  color: #fff;
  flex: 0 1 auto;
  align-self: auto;
  margin-top: 6vh;
}

.middle-ad-text-right {
  animation: flicker-1 1.5s infinite alternate;
  color: #fff;
  flex: 0 1 auto;
  align-self: auto;
  margin-top: 4vh;
}
/*
@keyframes flicker-1 {

  0%, 22%, 53%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 19px #fff,
      0 0 80px #ff00e7,
      0 0 150px #ff00e7;

  }

  20%, 24%, 55% {
      text-shadow: none;
  }
}
*/

.large-italic {
  font-style: italic;
  font-size: 50px;
}

.large-bold {
  font-size: 80px;
  font-weight: bolder;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: transform .2s;
}

.link:hover {
  transform: scale(1.2);
  color: rgba(114, 9, 183, 0.6);
  cursor: pointer;
}

.mobile-protection {
  background-image: url(images/malware-warning-phone.png);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #f1f1f1;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 5px;
}


.saleheader {
  font-size: 250%;
  text-align: center;
  padding: 20px 30px;
  color: black;
}

.gridheader {
  font-size: 70%;
}

.gridtext {
  font-size: 50%;
}

/* Plans Section*/

.line-type-1 {
	width: 100%;
	margin: 5px auto;
	border-color: black;
	background-color: black;
}



.plans-item-container {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
}

.in-con {
	order: 0;
  flex: 0 1 auto;
  align-self: auto;
	margin: 20px;
	padding: 30px;
	text-align: center;
	background: linear-gradient(45deg,#0d0232 0%,#5f0090 50%,#1467ab 100%);
	color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
	transform: scale(1);
	transition: transform 1s;
	width: 275px;
	height: 540px;
}

.in-con:hover {
	transform: scale(1.05);
	transition: transform 1s;
}

.plan {
  /*
	text-shadow:
		0 0 7px #e942f5,
		0 0 10px #e942f5,
		0 0 21px #e942f5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
    */
 	font-size: 30px;
 	color: #e942f5;
	margin-bottom: 5%;
	font-weight: 800;
}

.plan-description {
	font-style: italic;
	font-size: 15px;
}

.price {
	text-shadow:
		0 0 7px #42eff5,
		0 0 10px #42eff5,
		0 0 21px #42eff5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
 	font-size: 28px;
 	color: #42eff5;
}

.price:hover {
	animation: flicker 1.5s alternate;
}
/*
@keyframes flicker {

  0%, 22%, 53%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 19px #fff,
      0 0 80px #ff00e7,
      0 0 150px #ff00e7;

  }

  20%, 24%, 55% {
      text-shadow: none;
  }
}
*/

.per-month {
  text-shadow:
		0 0 7px #42eff5,
		0 0 10px #42eff5,
		0 0 21px #42eff5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
 	font-size: 12px;
 	color: #42eff5;
  font-style: italic;
}

.grey-text {
	color: rgba(122, 122, 122, 0.9);
	padding: 4% 0;
	font-size: 15px;
}

.white-text {
	color: white;
	padding: 4% 0;
	font-size: 15px;
	font-weight: bolder;
	text-shadow: 0px 0px 10px rgb(255, 1, 234);
}

.purchase-button-wrapper {
	filter: drop-shadow(-3px 6px 3px rgba(255, 153, 0, 0.5));
}

.purchase-button {
	font-size: 15px;
  font-weight: bold;
	padding: 5%;
	margin: 5% auto;
	background: radial-gradient(rgb(255, 94, 0), rgb(255, 153, 0));
    clip-path: polygon(0% 0%, 90% 0%, 100% 30%, 100% 100%, 10% 100%, 0 70%);
	color: whitesmoke;
}

.purchase-button:hover {
	transform: scale(1.1);
	color: white;
	animation: flicker 1.5s alternate;
}


/* Footer Section */


.find-us-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	color: white;
	background: linear-gradient(0deg, rgba(47,47,47,1) 19%, rgba(237,37,240,1) 100%); /*change colour to section above backround color*/
	font-size: 20px;
}

.find-us-section div {
	padding: 10px;
}

.footer-container {
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(47,47,47,1);
}


.footer-left, .footer-right  {
  background:rgba(47,47,47,1);
  color:#fff;
  text-align: center;
  padding: 20px;
}
.footer-left {
	width: 450px;
}

.footer-middle{
  background-color: rgba(47,47,47,1);
}

.footer-left-container {
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}



.info-column {
	display: flex;
	width: 200px;
	flex-direction: column;
	flex-wrap: wrap;
	height: 200px;
	text-align: left;
}

.info-name {
	height: 50px;
	width: 80%;
	font-weight: bolder;
	font-size: 30px;
	font-style: italic;
}

.info-break {
	width: 60%;
	height: 0.5px;
	background-color: white;
	margin: 10px 0;
}

.info-title {
	height: 20px;
	width: 80%;
	font-size: 12.5px;
}

.info-location {
	height: 70px;
	width: 80%;
	font-size: 14px;
}

.footer-nav {
	display: flex;
	flex-direction: row;
	width: 410px;
	margin-top: 15px;
	padding-left: 30px;
}

.footer-nav-column {
	width: 100px;
	margin: 0 20px;
}

.footer-nav-header {
	font-size: 15px;
	font-weight: bold;
}

.footer-nav-items {
	line-height: 25px;
	font-size: 10px;
}

.footer-nav-break {
	width: 100%;
	height: 0.5px;
	background-color: white;
	margin: 10px 0;
}

.footer-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 10px;
	color: white;
	background-color: rgba(47,47,47,1);
	padding-bottom: 20px;
}


/* CONTACT PAGE CSS */


.contact-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-column {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.form-break {
  height: 4px;
  border-width: 500px;
  color: gray;
  background-color: rgba(247, 37, 133);
}

.form-input {

  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
