* {
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  box-sizing: border-box;
}


/* Nav and Header sections */

.nav-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: no-wrap;
	height: 50px;
	position: fixed;
	top: 0;
	transition: all 0.5s;
	z-index: 999;
}

#nav-container {
	background: transparent;
	color: white;
}

.home-link {
	text-align: center;
	padding: 10px;
	font-size: 32px;
	display: flex;
	align-items: center;
	font-style: italic;
	font-weight: bold;
}

.home-link:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.nav-right {
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.sign-in-button-outline {
	display: flex;
	align-items: center;
	border: 2px solid white;
	border-radius: 5px;
	margin: 8px 0px;
}

.sign-in-button-outline:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#sign-in-button-outline {
	border: 2px solid white;
}

.sign-in-button {
	padding: 0px 20px;
	text-decoration: none;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Encode Sans', sans-serif;
}

#sign-in-button {
	color: white;
}

.dropdown-menu {
	display: flex;
	align-items: center;
	font-size: 40px;
}

.dropdown-menu:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.nav-tabs-container {
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 200px;
  height: 600px;
  position: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  padding-left: 20px;
  transition: all 0.5s;
	z-index: 999;
}

#dropdown {
  background: transparent;
  transition: all 0.5s;
}

.nav-tab {
  width: 200px;
  height: 60px;
  background-color: #Db00B6;
  transform: skew(10deg) rotate(10deg);
  color: white;
  font-family: 'Encode Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  outline: solid 2px #5f0090;
  outline-offset: -2px;
}

.nav-tab:hover {
  transform: scale(1.05);
  transform: skew(5deg) rotate(5deg);
  transition-duration: 0.5s;
  cursor: pointer;
}

.header-container {
	background-image: url(images/main-header-image.jpg);
	background-repeat: no-repeat;
 	background-size: 100% auto;
	width: 100%;
	height: 750px;
	color: white;
}

.header-content-container {
	display: flex;
	flex-direction: column;
	justify-content: left;
	padding-left: 8%;
	padding-top: 15%;
}

.header-catchphrase {
	font-size: 40px;
	font-family: 'Encode Sans', sans-serif;
	font-weight: 300;
}

.header-catchphrase-important {
	font-weight: 600;
	font-family: 'Encode Sans', sans-serif;
	color:#Db00B6;
	text-shadow:
      0 0 4px #ff00e7,
      0 0 19px #ff00e7,
      0 0 80px #ff00e7,
      0 0 150px #ff00e7;
}

.header-para {
	margin-top: 30px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}

.header-para-important {
	font-weight: 600;
	color: #ff00d4a8;
	padding: 5px;
}

.header-link-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 40px;
	margin-left: -17.5px;
	width: 325px;

}

.header-products-link-container {
	transform: skew(-15deg);
	background-color: rgb(255, 153, 0);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
}

.header-products-link {
	font-size: 15px;
	font-weight: bold;
	padding: 15px;
	padding-left: 20px;
}

.header-products-link-container:hover {
  cursor: pointer;
  transform: skew(-15deg) scale(1.05);
}

.header-reviews-link-container {
	transform: skew(-15deg);
	outline: 3px solid white;
	outline-offset: -3px;
}

.header-reviews-link {
	font-size: 15px;
	padding: 15px;
	font-weight: 300;
}

.header-reviews-link-container:hover {
  cursor: pointer;
  transform: skew(-15deg) scale(1.05);
}

@media only screen and (max-width: 800px) {
  .header-container {
	  background: black;
	  height: 600px;

  }

  .header-content-container {
	  padding-top: 100px;
  }

  .header-catchphrase {
	  font-size: 25px;
  }
  .header-para {
	  font-size: 15px;
  }

  .header-products-link, .header-reviews-link {
	  font-size: 10px;
	  padding: 8px;
  }

  .sign-in-button-outline {
	  display: none;
  }

  .header-link-container {
	  width: 200px;
	  margin-top: 20px;
	  margin-left: -8px;
  }



}



.sales-section {
  background: radial-gradient(#595959, #303030);
  padding-top: 1%;
  padding-bottom: 2%;

}

.sales-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 200%;
  margin: 0 auto;
  margin-top: 5%;
}

.sales-1, .sales-2, .sales-3 {
  clip-path: polygon(0% 0%, 95% 0%, 100% 5%, 100% 100%, 5% 100%, 0 95%);
  height: 500px;
  width: 300px;
  background-color: darkgrey;
  padding-bottom: 5%;
  background: linear-gradient(45deg,#0d0232 0%,#5f0090 50%,#1467ab 100%);
  box-shadow: 5px 10px #888888;
  position: relative;
  box-shadow: 20px 25px 50px -25px #000;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 25px;
}

.sales-1:hover, .sales-2:hover, .sales-3:hover {
  margin-top: -2%;
}

.sales-1, .sales-3 {
  background: linear-gradient(45deg,#0d0232 0%,#5f0090 50%,#1467ab 100%);
  color: white;
}

.sales-2 {
  background: linear-gradient(45deg,#ff124f 0%,#ff00a0 50%,#fe75fe 100%);
}


.sales-image {
  width: 100%;
  filter: drop-shadow(0 0 30px #333);
}

.sales-content {
  background-color: transparent;
  border: 2px solid #97DFFC;
  margin-top: 00%;
  width: 80%;
  margin: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sales-header {
  margin-top: 0%;
  font-size: 25px;
  text-align: center;
  font-style: italic;
  font-family: 'Encode Sans', sans-serif;
}

.sales-paragraph {
  font-size: 10px;
  font-weight: 600;
  margin: 5%;
  text-align: center;
  color: lightgray;
}

.sales-button {
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-color: rgb(255, 153, 0);
  border: 0;
  padding: 5px;
  clip-path: polygon(0% 0%, 95% 0%, 100% 5%, 100% 100%, 5% 100%, 0 95%);
  border: solid 1px white;
  font-weight: 600;
  font-style: italic;
}


.who-are-we-section {
  padding: 40px 0 100px;
  position: relative;
}

.who-are-we-container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.who-are-we-header {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  background: rgba(247, 37, 133);
  padding: 10px 0;
  font-family: 'Encode Sans', sans-serif;
}

.who-are-we-row {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;

}

.who-are-we-column {
  width: 50%;
  padding-right: 15px;
  padding-left: 100px;
}

@media only screen and (max-width: 800px) {
  .who-are-we-row {
    flex-direction: column;
    align-items: center;
  }

  .who-are-we-column {
    width: 80%;
    text-align: center;
    padding: 0;
  }

  .stats-row {
    flex-wrap: wrap;
  }

  .stats-column {
    margin-top: 20px;
  }
}

.who-are-we-image {
  position: relative;
  width: 300px;

}

.who-are-we-para {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.stats-row {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  padding: 80px 40px 20px 40px;

}

.stats-column {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.stats-box {
  text-align: center;
}

.stats-number {
  font-size: 25px;
  font-weight: 600;
}

.stats-text {
  font-size: 15px;
}

.middle-image-break {
  margin-top: 20px;
  background-image: url(images/man-with-vr-1.jpg);
  height: 175px;
  margin-right: 10px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.middle-ad {
  height: 175px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.middle-ad h1 {
  text-align: center;
}



.middle-ad-text-left {
  /*
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #3A0CA3,
    0 0 82px #3A0CA3,
    0 0 92px #3A0CA3,
    0 0 102px #3A0CA3,
    0 0 151px #3A0CA3;
  */
  font-size: 30px;
  color: #fff;
  flex: 0 1 auto;
  align-self: auto;

}

.middle-ad-text-right {
  animation: flicker-1 1.5s infinite alternate;
  color: #fff;
  flex: 0 1 auto;
  align-self: auto;
}
/*
@keyframes flicker-1 {

  0%, 22%, 53%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 19px #fff,
      0 0 80px #ff00e7,
      0 0 150px #ff00e7;

  }

  20%, 24%, 55% {
      text-shadow: none;
  }
}
*/

.large-italic {
  font-style: italic;
  font-size: 50px;
}

.large-bold {
  font-size: 80px;
  font-weight: bolder;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: transform .2s;
}

.link:hover {
  transform: scale(1.2);
  color: rgba(114, 9, 183, 0.6);
  cursor: pointer;
}

.mobile-protection {
  background-image: url(images/malware-warning-phone.png);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin-bottom: 80px;
}

.mobile-protection-overlay {
  width: 100%;
  height: 300px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(0,0,0,1) 100%);
}

.our-com-container-header {
  font-family: 'Encode Sans', sans-serif;
}

.our-com-header {
  text-align: center;
  font-size: 30px;
}

.our-com-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  justify-content: space-around;
  text-align: center;
}

.our-com-column {
  width: 200px;
}

/* Plans Section*/

.line-type-1 {
	width: 100%;
	margin: 5px auto;
	border-color: black;
	background-color: black;
}



.plans-item-container {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
}

.in-con {
	order: 0;
  flex: 0 1 auto;
  align-self: auto;
	margin: 20px;
	padding: 30px;
	text-align: center;
	background: linear-gradient(45deg,#0d0232 0%,#5f0090 50%,#1467ab 100%);
	color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
	transform: scale(1);
	transition: transform 1s;
	width: 275px;
	height: 540px;
}

.in-con:hover {
	transform: scale(1.05);
	transition: transform 1s;
}

.plan {
  /*
	text-shadow:
		0 0 7px #e942f5,
		0 0 10px #e942f5,
		0 0 21px #e942f5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
    */
 	font-size: 30px;
 	color: #e942f5;
	margin-bottom: 5%;
	font-weight: 800;
}

.plan-description {
	font-style: italic;
	font-size: 15px;
}

.price {
  /*
	text-shadow:
		0 0 7px #42eff5,
		0 0 10px #42eff5,
		0 0 21px #42eff5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
    */
 	font-size: 28px;
 	color: #42eff5;
}

.price:hover {
	animation: flicker 1.5s alternate;
}
/*
@keyframes flicker {

  0%, 22%, 53%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 19px #fff,
      0 0 80px #ff00e7,
      0 0 150px #ff00e7;

  }

  20%, 24%, 55% {
      text-shadow: none;
  }
}
*/

.per-month {
  /*
  text-shadow:
		0 0 7px #42eff5,
		0 0 10px #42eff5,
		0 0 21px #42eff5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
    */
 	font-size: 12px;
 	color: #42eff5;
  font-style: italic;
}

.grey-text {
	color: rgba(122, 122, 122, 0.9);
	padding: 4% 0;
	font-size: 15px;
}

.white-text {
	color: white;
	padding: 4% 0;
	font-size: 15px;
	font-weight: bolder;
	text-shadow: 0px 0px 10px rgb(255, 1, 234);
}

.purchase-button-wrapper {
	filter: drop-shadow(-3px 6px 3px rgba(255, 153, 0, 0.5));
}

.purchase-button {
	font-size: 15px;
  font-weight: bold;
	padding: 5%;
	margin: 5% auto;
	background: radial-gradient(rgb(255, 94, 0), rgb(255, 153, 0));
  clip-path: polygon(0% 0%, 90% 0%, 100% 30%, 100% 100%, 10% 100%, 0 70%);
	color: whitesmoke;
}

.purchase-button:hover {
	transform: scale(1.1);
	color: white;
	animation: flicker 1.5s alternate;
}

/* Our Community Section*/

.our-com-container-header {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  padding: 15px 0;
  font-family: 'Encode Sans', sans-serif;
  background: linear-gradient(45deg,rgba(13, 2, 50, 1) 0%,rgba(95, 0, 144, 1) 50%,rgba(20, 103, 171, 1) 100%);
}

.our-com-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-around;
  background: radial-gradient(#595959, #303030);
}

.our-com-column {
  width: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
  margin: 40px 0;
}

.th-image {
	background-image: url(images/image-placeholder.jpg);
	width: 200px;
	height: 300px;
	display: flex;
  background-size: auto;
  background-repeat: no-repeat;
}

#review-1 {
  background-image: url(images/image-placeholder.jpg);
}

#review-2 {
  background-image: url(images/review-2.jpg);
}

#review-3 {
  background-image: url(images/review-3.jpeg);
}

#review-4 {
  background-image: url(images/review-4.jpeg);
}

#review-5 {
  background-image: url(images/review-5.png);
}

.our-com-info {
	padding-top: 60px;
}

.our-com-image-overlay {
	background: linear-gradient(45deg,rgba(13, 2, 50, 0.6) 0%,rgba(95, 0, 144, 0.6) 30%,rgba(20, 103, 171, 0.6) 100%);
	width: 200px;
	height: 300px;
	color: white;
  padding-bottom: 100px;
}

.our-com-image-overlay:hover {
	background: rgba(13, 2, 50, 0)
}

.our-com-header {
	font-size: 25px;
	text-align: center;
}

.our-com-subheader {
	padding-top: 10px;
	text-align: center;
	font-size: 12.5px;
	color: lightgray;
	font-weight: lighter;
}

.our-com-break {
	width: 75%;
	height: 0.5px;
	background-color: white;
	margin: 0 auto;
	margin-top: 10px;
}

.our-com-text {
	text-align: left;
	padding: 10px;
	font-size: 12.5px;
	color: lightgray;
	padding-left: 20px;
	font-weight: bold;
	font-style: italic;
}



/* Footer Section */


.find-us-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	color: white;
	background: rgba(237,37,240,1);
	font-size: 20px;
}

.find-us-section div a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.footer-container {
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(47,47,47,1);
}


.footer-left, .footer-right  {
  background:rgba(47,47,47,1);
  color:#fff;
  text-align: center;
  padding: 20px;
}
.footer-left {
	width: 450px;
}

.footer-middle{
  background-color: rgba(47,47,47,1);
}

.footer-left-container {
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}



.info-column {
	display: flex;
	width: 200px;
	flex-direction: column;
	flex-wrap: wrap;
	height: 200px;
	text-align: left;
}

.info-location:hover {
  cursor: pointer;
}

.info-name {
	height: 50px;
	width: 80%;
	font-weight: bolder;
	font-size: 30px;
	font-style: italic;
}

.info-break {
	width: 60%;
	height: 0.5px;
	background-color: white;
	margin: 10px 0;
}

.info-title {
	height: 20px;
	width: 80%;
	font-size: 12.5px;
}

.info-location {
	height: 70px;
	width: 80%;
	font-size: 14px;
}

.footer-nav {
	display: flex;
	flex-direction: row;
	width: 410px;
	margin-top: 15px;
	padding-left: 30px;
}

.footer-nav-column {
	width: 100px;
	margin: 0 20px;
}

.footer-nav-header {
	font-size: 15px;
	font-weight: bold;
  cursor: pointer;
}

.footer-nav-items {
	line-height: 25px;
	font-size: 10px;
}

.footer-nav-items:hover {
	cursor: pointer;
}

.footer-nav-break {
	width: 100%;
	height: 0.5px;
	background-color: white;
	margin: 10px 0;
}

.footer-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 10px;
	color: white;
	background-color: rgba(47,47,47,1);
	padding-bottom: 20px;
}

@media only screen and (max-width: 800px)  {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 600px)  {
  .footer-left {
    width: 320px;
    margin-left: -30px;
    align-items: center;
    text-align: center;
  }

  .footer-nav {
    width: 300px;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
  }

  .footer-nav-column {
    margin-top: 30px;
  }

  .footer-left-container {
    flex-direction: row;
    height: auto;
  }

  #info-column-mobile {
    margin-top: -80px;
    margin-bottom: 0;
  }
}


/* CONTACT PAGE CSS */



/* How to contact us section */

.how-contact-section {
  padding: 40px 0 100px;
  position: relative;
}

.how-contact-header {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  font-family: 'Encode Sans', sans-serif;
}

.how-contact-break {
  width: 60%;
  height: 3.5px;
  background-color: black;
  margin: 0 auto;
  margin-top: 35px;
}

.how-contact-row {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
  width: 100%;
  padding-bottom: 75px;

}

.how-contact-column {
  width: 90%;
  padding-right: 15px;
  padding-left: 100px;
  text-align: center;
}

.how-contact-para {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.how-contact-stats-row {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
  background: linear-gradient(45deg,#ff124f 0%,#ff00a0 50%,#fe75fe 100%);
  outline: solid 4px #5f0090;
  outline-offset: -15px;
}

@media only screen and (max-width: 800px) {
  .middle-ad-text-right {
    display: none;
  }
}



.how-contact-stats-column {
  width: 100%;
  padding: 10px 15px;
}

.how-contact-stats-box {
  text-align: center;
}

.how-contact-link {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.how-contact-number {
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
}

.how-contact-stats-text {
  font-size: 15px;
}

.ad-footer-connecter {
  width: 100%;
  height: 20px;
  margin-top: -12px;
  background: linear-gradient(0deg, rgba(237,37,240,1) 40%, transparent 90%);
}







.contact-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-column {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.form-break {
  height: 4px;
  border-width: 500px;
  color: gray;
  background-color: rgba(247, 37, 133);
}

.form-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* THIRD PAGE */


.products-why-use {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Why use section */

.why-use-section {
  padding: 40px 0 100px;
  position: relative;
}

.why-use-container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.why-use-header {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 30px;
  font-family: 'Encode Sans', sans-serif;
}

.why-use-row {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  color: black;
  justify-content: space-around;
}

.why-use-column {
  width: 400px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.why-use-column-2 {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(45deg, rgba(100,2,122,1) 33%, rgba(0,4,97,1) 78%);
}

.why-use-column-2-outline {
  border: 5px solid #ff00ee;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  box-shadow: 0px 0px 10px 2px #0ff;
}

.why-use-review-header {
  padding: 20px;
  font-size: 30px;
  color: white;
  font-style: italic;
  font-weight: lighter;
  font-family: 'Encode Sans', sans-serif;
}

.why-use-review-break {
  border: 2px solid #ff00ee;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.why-use-review {
  display: flex;
  flex-direction: row;
}

.why-use-para {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.review-info {
	padding-top: 10px;
}

.review-image-overlay {
	width: 200px;
	height: 200px;
	color: white;
}

@media only screen and (max-width: 600px) {
  .why-use-column-2 {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
  }

  .why-use-review {
    flex-direction: column;
  }
}

.review-image-overlay:hover {
	background: rgba(13, 2, 50, 0)
}

.review-header {
	font-size: 25px;
	text-align: center;
  color: white;
  font-weight: 200;
}

.review-subheader {
	padding-top: 10px;
	text-align: center;
	font-size: 12.5px;
	color: white;
	font-weight: lighter;
}

.review-break {
	width: 75%;
	height: 0.5px;
	background-color: black;
	margin: 0 auto;
	margin-top: 10px;
}

.review-text {
	text-align: left;
	padding: 10px;
	font-size: 12.5px;
	color: white;
	padding-left: 20px;
	font-weight: bold;
	font-style: italic;
}

/* Software types section */

.hardware-main-header {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Encode Sans', sans-serif;
  color: #069fe4;
  margin-left: 50px;
  padding: 15px;
  border-bottom: 5px solid #ff00ee;
  margin-bottom: 20px;
  /*
  animation: flicker 1.5s infinite alternate;\
  */
  background: transparent;
}

.software-types-container {
  width: 100%;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: skyblue;
  background: radial-gradient(#595959, #303030);
  padding-bottom: 80px;
}

.software-container-wrapper {
 margin-bottom: 0;
}

.software-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  margin: 30px 0;
  transform: skew(-15deg);
  color: lightgrey;
}

.st-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 500px;
  align-self: auto;
  background: linear-gradient(45deg,#0d0232 0%,#5f0090 50%,#1467ab 100%);
}

.st-para-outline {
  width: 92.5%;
  border: 5px solid #ff00ee;
}

.st-para {
  width: 80%;
  padding: 40px;
}

.st-header {
  font-size: 30px;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 600px;
}

.st-line {
  width: 90%;
  height: 0.5px;
	background-color: white;
	margin: 10px 0;
}

.st-description {
  font-size: 15px;
}

.st-column-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 250px;
  width: 400px;
  align-self: auto;
  background-image: url(images/phone-bank-secruity.png);
  background-size: 300px auto;
  background-repeat: no-repeat;
}

#standard {
  background-image: url(images/social-media-secruity.png);
}

#premium {
  background-image: url(images/data-secruity.png);
}

#mobile {
  background-image: url(images/phone-bank-secruity.png);
}

.st-features-column {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 50%;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.4);
}

.st-features {
  font-size: 20px;
  padding: 10px;
  color:#42eff5;
  text-shadow:
		0 0 7px #42eff5,
		0 0 10px #42eff5,
		0 0 21px #42eff5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
}

@media only screen and (max-width: 1000px) {
  .hardware-main-header {
    margin-right: 30px;
  }

  .software-container {
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    transform: skew(0deg);
  }

  .st-column-1 {
    width: 300px;
    height: 300px;
  }

  .st-para-outline {
    height: auto;
  }

  .st-para {
    width: 100%;
  }

  .st-column-2 {
    margin-top: 30px;
    width: 350px;
  }

  .st-features-column {
    flex-direction: column;
  }

}


/* Sub-Plan Section */

.products-plans-container {
  background: radial-gradient(#595959, #303030);
}

.plan-main-header {
  font-size: 40px;
  font-weight: bold;
  color: #069fe4;
  margin: 0 auto;
  padding: 15px;
  width: 420px;
  border-bottom: 5px solid #ff00ee;
  margin-bottom: 20px;
  font-family: 'Encode Sans', sans-serif;
  /*
  animation: flicker 1.5s infinite alternate;
  */
}

@media only screen and (max-width: 1000px) {
  .plan-main-header {
    width: auto;
  }

}

@keyframes flicker {

0%, 22%, 53%, 100% {

    text-shadow:
    0 0 4px #fff,
    0 0 19px #fff,
    0 0 80px #ff00e7,
    0 0 150px #ff00e7;

}

20%, 24%, 55% {
    text-shadow: none;
}
}


.sub-plan-item-container {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
}

.sub-plan-in-con {
	order: 0;
  flex: 0 1 auto;
  align-self: auto;
	margin: 20px;
	padding: 30px;
	text-align: center;
	background: linear-gradient(45deg,#0d0232 0%,#5f0090 50%,#1467ab 100%);
	color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
	transform: scale(1);
	transition: transform 1s;
	width: 137.5px;
	height: 270px;
}

.sub-plan-in-con:hover {
	transform: scale(1.05);
	transition: transform 1s;
}

.sub-plan {
  /*
	text-shadow:
		0 0 7px #e942f5,
		0 0 10px #e942f5,
		0 0 21px #e942f5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
    */
 	font-size: 15px;
 	color: #e942f5;
	margin-bottom: 5%;
	font-weight: 800;
}

.sub-plan-description {
	font-style: italic;
	font-size: 7.5px;
}

.sub-plan-price {
  /*
	text-shadow:
		0 0 7px #42eff5,
		0 0 10px #42eff5,
		0 0 21px #42eff5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
    */
 	font-size: 14px;
 	color: #42eff5;
}

.sub-plan-price:hover {
	animation: flicker 1.5s alternate;
}
/*
@keyframes flicker {

  0%, 22%, 53%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 19px #fff,
      0 0 80px #ff00e7,
      0 0 150px #ff00e7;

  }

  20%, 24%, 55% {
      text-shadow: none;
  }
}
*/

.sub-plan-per-month {
  /*
  text-shadow:
		0 0 7px #42eff5,
		0 0 10px #42eff5,
		0 0 21px #42eff5,
		0 0 42px #3A0CA3,
		0 0 82px #3A0CA3,
		0 0 92px #3A0CA3,
		0 0 102px #3A0CA3,
		0 0 151px #3A0CA3;
    */
 	font-size: 6px;
 	color: #42eff5;
  font-style: italic;
}

.sub-plan-text {
	color: white;
	padding: 4% 0;
	font-size: 7.5px;
	font-weight: bolder;
	text-shadow: 0px 0px 10px rgb(255, 1, 234);
}
